<app-header [header]="header"></app-header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <p>After gratduation in 2014 with a Bachelor's Degree in Information Technology at Hoa Sen University, I've worked as a profressional software engineer in Ho Chi Minh City, Vietnam.</p>
      <p>I'm well versed in many skills around technology & product development. I like to build things - usually with technology and a side of grit. I've worn many hats in my career between exceutive positons, back-end dev, front-end dev, and product design. I love knowledge, and I strongly believe technology can, and should enrich every single life this universe has to offer.</p>
      <p>I'm available for remote work - if you have an application you are interested in developing with web technology, I'd love to work with you on it, <a routerLink='/contact'>get in touch</a>?</p>
      <p>For more my information, please visit <a href="#">my online resume</a>.</p>
    </div>
  </div>
</div>